body{
    background-color: rgb(251, 240, 213);
}

.container{
}

#mydiv {
    position: absolute;
    text-align: center;
    cursor: move;
  }

  #chair {
    position: absolute;
    cursor: move;
    text-align: center;
  }

  #chair-2 {
    position: absolute;
    cursor: move;
    text-align: center;
  }
  #chair-3 {
    position: absolute;
    cursor: move;
    text-align: center;
  }
  #chair-4 {
    position: absolute;
    cursor: move;
    text-align: center;
  }